# JWT 
JWT_SECRET=
JWT_EXPIRY=

# Frontend URL
FRONTEND_URL=

# Backend URL
BACKEND_URL=

# SQLite
DB_FILE_NAME=

# Serive Account untuk Google Drive
GOOGLE_SERVICE_ACCOUNT_KEY = 

# Client untuk OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Postgres
DATABASE_URL=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=